@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: Raleway, serif;
}

a:hover {
  cursor: pointer;
}

:root {
  --size-mp: calc(1vw + 1vh);
}

/*hamb*/
.block_hamburger1,
.block_hamburger2 {
  grid-template-columns: 90%;
  justify-content: space-around;
  background-color: #4D3F75;
  position: absolute;
  z-index: 11;
  width: 100%;
  top: 60px;
  color: white;
  line-height: 25px;
  padding-bottom: 20px;
  grid-gap: 15px;
  font-size: 12px;
  border-image-source: url(../Images/border-sub-menu-resersLeft.png);
  border-image-slice: 30 30 28 6;
  border-image-width: 10% 50% 7% 0.7%;
  border-radius: 0 0 29px 30px;
}

.block1_hamburger2 {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  margin-left: -83px;
  background-color: #9089a6;
  width: 300px;
  padding-left: 74px;
  margin-top: 10px;
  height: 40px;
  border-radius: 0 20px 20px 0;
  align-items: center;
}

.block_hamburger2 a {
  font-size: 12px;
  text-decoration: none;
  color: white
}

.back_hamburger2 {
  width: 30px;
  height: 30px;
  background-image: url(../Images/icon_back.png);
}

.cross_hamburger2 {
  width: 30px;
  height: 30px;
  background-image: url(../Images/icon_cross.png);
}


/*header*/
.header {
  background-color: #340738;
  height: 894px;
}

.top_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.menu_header {
  display: flex;
  flex-direction: column;
  background: center center no-repeat #4D3F75;
  background-image: url(../SVG/line_menu.svg);
  background-size: 70% 100%;
  border-radius: 0 0 50px 50px;
  width: 100%;
  height: 140px;
  position: relative;
  z-index: 11;
}

.logo_header {
  display: flex;
  width: 406px;
  height: 80px;
  margin-top: -7px;
  background-image: url(../SVG/logoBack.svg);
}

.logo_text_header {
  width: 145px;
  height: 46px;
  background-image: url(../SVG/logoText.svg);
  background-repeat: no-repeat;
  margin-left: 146px;
  margin-top: 10px;
}

.logo_a_header {
  display: inline-block;
  width: 145px;
  height: 46px;
}

.mobile_header {
  display: flex;
  flex-direction: row;
  margin-right: 180px;
  align-items: center;
  grid-gap: 30px;
}

.mobile_header a {
  text-decoration: none;
  color: white;
  font-family: Yantramanav, serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.lang_header {
  font-family: Raleway, serif;
  font-weight: 400;
  color: white;
}

.phone_header,
.email_header,
.lang_header {
  display: flex;
  flex-direction: row;
  grid-gap: 12px;
  align-items: center;
}



.ruFlagSvg_header {
  width: 28px;
  height: 30px;
  background-image: url(../SVG/ru_flag.svg);
}

.polygonSvg_header {
  width: 12px;
  height: 8px;
  background-image: url(../SVG/polygon.svg);
}



.down_header a {
  text-decoration: none;
  color: white;
}

.textBold_header:hover {
  font-weight: bold;
}

.block1_header {
  width: 95px;
  text-decoration: underline;
  height: 20px;
}

.block5_header {
  width: 155px;
  height: 20px;
  min-width: 124px;
}

.block7_header {
  width: 255px;
  height: 20px;
  min-width: 124px;
}

.block8_header {
  width: 95px;
  height: 20px;
  text-decoration: underline;
}

.polygonSvg1_header {
  width: 12px;
  height: 8px;
  margin-top: 5px;
  background-image: url(../SVG/polygon.svg);
}

.polygonSvg2_header {
  width: 15px;
  display: inline-block;
  height: 9px;
  transform: rotate(270deg);
  background-image: url(../SVG/polygon.svg);
}

/*block2_header*/
.block2_header {
  display: grid;
  grid-template-columns: 215px 14px;
  height: 40px;
}

.block2_header:hover .showContentInBlock2_header {
  display: flex;
  flex-direction: column;
}

.block2_header:hover .textBold_header {
  font-weight: bold;
  cursor: pointer;
}

.leftInBlock2_header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px;
  align-items: center;
}

.showContentInBlock2_header {
  display: none;
  width: 210px;
  margin-top: 26px;
  background-color: #4D3F75;
  border-image-source: url(../Images/border-sub-menu-resersLeft.png);
  border-image-slice: 30 30 28 6;
  border-image-width: 31px 80px 21px 5px;
  border-radius: 0 0 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-gap: 20px;
  font-size: 14px;
  padding-bottom: 25px;

}

/*block3_header*/
.block3_header {
  display: grid;
  grid-template-columns: 175px 14px;
  height: 40px;
}

.block3_header:hover .showContentInBlock3_header {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}

.block3_header:hover .textBold_header {
  font-weight: bold;
  cursor: pointer;
}

.showContentInBlock3_header {
  display: none;
  width: 220px;
  margin-top: 26px;
  background-color: #4D3F75;
  border-image-source: url(../Images/border-sub-menu-resersLeft.png);
  border-image-slice: 30 30 28 6;
  border-image-width: 31px 80px 21px 5px;
  border-radius: 0 0 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-gap: 30px;
  padding-bottom: 20px;
  font-size: 14px;
}

.showBlock1_block3_header {
  height: 18px;
}

.showBlock1_block3_header:hover .showFullBlock1_block3_header {
  display: grid;
  grid-template-columns: 213px;
  grid-template-rows: 55px;
  align-items: center;
  margin-left: 91px;
  margin-top: -43px;
  background-color: #4D3F75;
  width: 360px;
  border-radius: 0 30px 30px 0;
  padding-left: 30px;
  padding-bottom: 7px;
  justify-content: end;
}

.showFullBlock1_block3_header {
  display: none;
}

/*block4_header*/
.block4_header {
  display: grid;
  grid-template-columns: 140px 14px;
  height: 40px;
}

.block4_header:hover .showContentInBlock4_header {
  display: grid;
  grid-template-columns: 50% 50% 300px;
  margin-left: -20px;
}

.block4_header:hover .textBold_header {
  font-weight: bold;
  cursor: pointer;
}

.showContentInBlock4_header {
  display: none;
  width: 500px;
  margin-top: 26px;
  background-color: #4D3F75;
  border-image-source: url(../Images/border-sub-menu-resersLeft.png);
  border-image-slice: 30 30 28 6;
  border-image-width: 8px 310px 23px 4px;
  border-radius: 0 0 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-gap: 30px;
  padding-bottom: 20px;
  font-size: 14px;
}

.leftInBlock4_header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  align-items: center;
}

.rightInBlock4_header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  align-items: center;
}

.showBlock1_block4_header {
  height: 18px;
}

.showBlock1_block4_header:hover .showFullBlock1_block4_header {
  display: grid;
  grid-template-columns: 245px;
  grid-template-rows: 40px 40px 40px 40px;
  align-items: center;
  margin-left: 255px;
  margin-top: -27px;
  background-color: #4D3F75;
  border-radius: 0 30px 30px 0;
  padding-left: 30px;
  padding-bottom: 7px;
  justify-content: end;
  position: relative;
  z-index: 1;
}

.showFullBlock1_block4_header {
  display: none;
}


/*block6_header*/
.block6_header {
  display: grid;
  grid-template-columns: 160px 14px;
  height: 40px;
}

.block6_header:hover .showContentInBlock6_header {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}

.block6_header:hover .textBold_header {
  font-weight: bold;
  cursor: pointer;
}

.leftInBlock6_header {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
  align-items: center;
}

.rightInBlock6_header {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
  align-items: center;
}

.showContentInBlock6_header {
  display: none;
  width: 490px;
  margin-top: 26px;
  z-index: 1;
  background-color: #4D3F75;
  border-image-source: url(../Images/border-sub-menu-resers.png);
  border-image-slice: 2 30 30 2;
  border-image-width: 40px 25px 25px 110px;
  border-radius: 0 30px 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-gap: 30px;
  font-size: 14px;
}

.showBlock1_block6_header {
  height: 18px;
}

.showBlock1_block6_header:hover .showFullBlock1_block6_header {
  display: grid;
  grid-template-columns: 256px;
  grid-template-rows: 40px 40px 50px 50px;
  align-items: center;
  margin-left: -340px;
  margin-top: -28px;
  background-color: #4D3F75;
  border-radius: 30px 0 0 30px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.showFullBlock1_block6_header {
  display: none;
}

.showBlock2_block6_header {
  height: 18px;
}

.showBlock2_block6_header:hover .showFullBlock2_block6_header {
  display: grid;
  grid-template-columns: 256px;
  grid-template-rows: 40px 30px 40px;
  align-items: center;
  margin-left: -310px;
  margin-top: -28px;
  background-color: #4D3F75;
  border-radius: 30px 0 0 30px;
  padding-left: 30px;
}

.showFullBlock2_block6_header {
  display: none;
}


/*slider*/
.slider_header {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
}

.leftSlide_header {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 40px;
  height: 558px;
}

.text1Left_header,
.text3Left_header {
  font-size: calc(var(--size-mp) * 3.33333333);
  font-weight: 700;
  color: white
}

.text2Left_header {
  font-size: calc(var(--size-mp) * 2.66666667);
  font-weight: 700;
  color: #F3BC28;
}

.text4Left_header {
  font-size: calc(var(--size-mp) * 1.33333333);
  font-weight: 400;
  color: #F1CA2D;
  line-height: 60px;
}

.text5Left_header {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  line-height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

.rightSlide_header {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 70px;
}

.ballRight_header {
  background-image: url(../Images/ball.png);
  width: 496px;
  height: 495px;
  border: 3px solid #F3BC28;
  background-size: contain;
  border-radius: 50%;
}

.blockPhoto_header {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  height: 60px;
  padding-top: 49px;
  margin-left: -55px;
}

.textPhoto1_header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  position: absolute;
  top: 0;
  animation: fromtop 10s linear 5s infinite;
  margin-bottom: 10px;
  z-index: -1;
}

.namePhoto1_header {
  font-size: 20px;
  font-weight: 400;
  color: #F1CA2D;
}

.positionPhoto1_header {
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  color: white;
}

.textPhoto2_header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  position: absolute;
  top: 0;
  animation: fromtop 10s linear infinite;
  margin-bottom: 10px;
}

.namePhoto2_header {
  font-size: 20px;
  font-weight: 400;
  color: #F1CA2D;
}

.positionPhoto2_header {
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  color: white;
}

.photoRight_header {
  position: relative;
  height: 701px;
  margin-top: -632px;
  width: 410px;
  margin-left: 60px;
}

.photo1_header {
  position: absolute;
  top: -10%;
  animation: fromtop 10s linear 5s infinite;
  margin-bottom: 10px;
  z-index: -1;
}

.photo2_header {
  position: absolute;
  top: -10%;
  animation: fromtop 10s linear infinite;
  margin-bottom: 10px;
}

.photo3_header {
  display: none;
}

.photo4_header {
  display: none
}

@keyframes fromtop {
  0% {
    top: 0;
    opacity: 0;
    z-index: 1;
  }

  10% {
    top: 0;
    opacity: 1;
  }

  49.99999% {
    top: 0;
    z-index: 1;
  }

  50% {
    top: 0;
    z-index: -1;
  }

  100% {
    top: 0;
    z-index: -1;
  }
}

/*Cases*/
.cases {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #28062C;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}

.cases img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topTextBlock_cases {
  display: flex;
  flex-direction: column;
}

.topText1_cases {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.topText2_cases {
  font-size: 56px;
  font-weight: 400;
  color: white;
}

.topText3_cases {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.imagesBlock_cases {
  display: grid;
  grid-template-columns: 50fr 32fr 18fr;
  grid-gap: 1.5%;
  margin-top: 70px;
}

.leftBlock_cases {
  display: grid;
  grid-gap: 2%;
  grid-template-rows: 49% 49%;
}

.topLeftBlock_cases {
  display: grid;
  grid-template-columns: 64% 32%;
  grid-template-rows: 100%;
  grid-gap: 4%;
}

.imgRight1Block_cases {
  display: grid;
  grid-gap: 4%;
  grid-template-rows: 48% 48%;
  grid-template-columns: 100%;
}

.downLeftBlock_cases {
  display: grid;
  grid-template-columns: 32% 64%;
  grid-gap: 4%;
  grid-template-rows: 100%;
}

.imgLeft2Block_cases {
  display: grid;
  grid-gap: 4%;
  grid-template-rows: 48% 48%;
}

.rightBlock_cases {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 100%;
  grid-template-rows: 23.5% 50% 22.5%;
}

.rightImgBlock1_cases {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: 48% 48%;
  grid-template-rows: 100%;
}

.rightImgBlock2_cases {
  display: grid;
}

.rightImgBlock3_cases {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: 48% 48%;
  grid-template-rows: 100%;
}

.fixTextRightBlock_cases {
  position: sticky;
  top: 0;
}

.button_casesMob {
  display: none;
}

.text1Right_cases,
.text4Right_cases {
  font-size: 30px;
  color: white;
  font-weight: 400;
}

.text2Right_cases,
.text5Right_cases {
  color: #F3BC28;
  font-size: 68px;
  font-weight: 700;
}

.text3Right_cases,
.text6Right_cases {
  font-size: 68px;
  color: white;
  font-weight: 700;
}

.text7Right_cases {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  line-height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

.button_cases {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  line-height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
  margin-left: auto;
  margin-right: auto;
}

/*feedback*/
.feedback {
  background-color: #340738;
  height: 1180px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

.topFeed_feedback {
  display: flex;
  flex-direction: column;
}

.topFeedText1_feedback {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.topFeedText2_feedback {
  font-size: 56px;
  font-weight: 400;
  color: white;
}

.namesBlock_feedback {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  grid-gap: 25px;
}

.namesBlock1_feedback,
.namesBlock2_feedback,
.namesBlock3_feedback,
.namesBlock4_feedback {
  width: 25%;
}

.textBlock1_1_feedback,
.textBlock1_2_feedback,
.textBlock1_3_feedback,
.textBlock1_4_feedback {
  display: flex;
  flex-direction: row;
}

.borderLogoName1_feedback,
.borderLogoName2_feedback,
.borderLogoName3_feedback,
.borderLogoName4_feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #583E7A
}

.logoName1_feedback,
.logoName2_feedback,
.logoName3_feedback,
.logoName4_feedback {
  width: 90px;
  height: 90px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.name1_feedback,
.name2_feedback,
.name3_feedback,
.name4_feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.nameTop1_feedback,
.nameTop2_feedback,
.nameTop3_feedback,
.nameTop4_feedback {
  font-size: 16px;
  font-weight: 700;
  color: #F3BC28;
}

.nameDown1_feedback,
.nameDown2_feedback,
.nameDown3_feedback,
.nameDown4_feedback {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.textBlock2_1_feedback,
.textBlock2_2_feedback,
.textBlock2_3_feedback,
.textBlock2_4_feedback {
  margin-left: 30px;
}

.triangle1_feedback,
.triangle2_feedback,
.triangle3_feedback,
.triangle4_feedback {
  border: 15px solid transparent;
  border-bottom: 20px solid #583E7A;
  width: 0;
}

.textBlock3_1_feedback,
.textBlock3_2_feedback,
.textBlock3_3_feedback,
.textBlock3_4_feedback {
  display: flex;
  background-color: #583E7A;
  border-radius: 20px;
  height: 120px;
  align-items: center;
  margin-top: -2px;
}

.fullText1_feedback,
.fullText2_feedback,
.fullText3_feedback,
.fullText4_feedback {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-left: 40px;
  padding-right: 41px;
}

.textBlock4_1_feedback,
.textBlock4_2_feedback,
.textBlock4_3_feedback,
.textBlock4_4_feedback {
  height: 260px;
  margin-top: 25px;
}

.downText_feedback {
  margin-top: 30px;
  max-width: 761px;
  font-size: 24px;
  font-weight: 400;
  color: white
}

.downText_feedback b {
  font-size: 32px;
  font-weight: 700;
  color: #F6A21E;
}

.button_feedback {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  height: 70px;
  line-height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

.prev-button,
.next-button {
  display: none;
}


/*price*/
.price {
  display: flex;
  flex-direction: column;
  height: 1061px;
  background-color: #583E7A;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

.textBlock_price {
  display: flex;
  flex-direction: column;
  border-left: 5px solid #F3BC28;
}

.text1_price {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
  margin-left: 30px;
}

.text2_price {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  margin-left: 30px;
}

.itemsBlock_price {
  display: flex;
  flex-direction: row;
  grid-gap: 30px;
  margin-top: 40px;
  height: 580px;
}

.itemBlock1_price,
.itemBlock2_price,
.itemBlock3_price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  border: 3px solid #F3BC28;
  background-color: white;
}

.itemText1_price {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.itemText2_price {
  font-size: 24px;
  font-weight: 400;
  margin-top: 60px;
  margin-left: 60px;
}

.textItem2_1_price {
  margin-top: 20px;
}

.itemText3_price {
  width: 100%;
  border: 3px solid #F3BC28;
  border-left: 0;
  border-right: 0;
  background-color: #340738;
  text-align: center;
  margin-top: 60px;
  height: 110px;
  line-height: 105px;
}

.text1Price_price {
  font-size: 36px;
  font-weight: 700;
  color: #F3BC28;
}

.text1Price_price span {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.button_price {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  height: 70px;
  line-height: 70px;
  margin-top: 30px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

/*deadline*/
.deadline {
  display: flex;
  flex-direction: row;
  height: 618px;
  background-color: #340738;
  justify-content: center;
  grid-gap: 50px;
  align-items: center;
}

.leftBlock_deadline {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.leftText1_deadline,
.leftText2_deadline {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.leftText3_deadline {
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.borderBlock_deadline {
  background-image: url(../Images/ball.png);
  width: 496px;
  height: 495px;
  border: 3px solid #F3BC28;
  border-radius: 50%;
  font-size: 46px;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 475px;
}

.borderBlock_deadline span {
  font-size: 64px;
  font-weight: 700;
}

.rightBlockMob_deadline {
  display: none;
}

/*team*/
.team {
  display: flex;
  flex-direction: column;
  height: 866px;
  background-color: #5B1362;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

.team img {
  width: 100%;
  max-height: 360px;
  object-fit: contain;
}

.topText_team {
  max-width: 1172px;
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.profileBlock_team {
  display: flex;
  flex-direction: row;
  grid-gap: 30px;
  width: 100%;
  margin-top: 40px;
}

.prof1_team,
.prof2_team,
.prof3_team {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.33%;
  border: 3px solid #F3BC28;
}

.photo1_team,
.photo2_team,
.photo3_team {
  display: flex;
  align-items: flex-end;
}

.topBlock1_team {
  display: grid;
  position: relative;
  grid-template-columns: 40% 60%;
  height: 100%;
  background-color: #583E7A;
}

.name1_team {
  display: grid;
  align-items: end;
  margin-bottom: 60px;
  font-size: calc(var(--size-mp) * 1.4);
  font-weight: 700;
  color: white;
}

.downBlock1_team {
  display: grid;
  align-items: center;
  height: calc(var(--size-mp) * 4.3);
  border-top: 3px solid #F3BC28;
  ;
  background-color: #340738;
  font-size: calc(var(--size-mp) * 1.4);
  font-weight: 700;
  color: #F3BC28;
}

/*vidLogo*/
.vidLogo {
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  height: calc(var(--size-mp) * 29);
  background-color: #583E7A;
  position: relative;
  z-index: 1;
}

.leftBlock_vidLogo {
  grid-gap: 30px;
  width: 50%;
  display: grid;
  align-content: center;
}

.leftText1_vidLogo {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.leftText2_vidLogo {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.leftText3_vidLogo {
  font-size: 32px;
  font-weight: 700;
  color: #F3BC28;
}

.leftText4_vidLogo {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-top: -20px;
}

.rightBlock_vidLogo {
  width: 50%;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/*partners*/
.partners {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -140px;
  height: 1300px;
  background-image: url(../SVG/Vector_purple_dark.svg);
  background-repeat: no-repeat;
  align-items: center;
}

.textBlock1_partners {
  padding-top: 220px;
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.textBlock1_partners span {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.imgBlock1_partners {
  display: flex;
  flex-direction: row;
  grid-gap: 125px;
  margin-top: 30px;
}

.imgBlock1_partners img {
  height: 100%;
  object-fit: none;
  width: 100%;
  scale: 0.9;
}

.textBlock2_partners {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
  margin-top: 270px;
}

.imgBlock2_partners {
  display: flex;
  flex-direction: column;
  grid-gap: 80px;
  margin-top: 50px;
}

.imgTopBl_partners,
.imgDownBl_partners {
  display: flex;
  flex-direction: row;
  grid-gap: 80px;
}

.imgTopBl_partners img,
.imgDownBl_partners img {
  width: 20%;
  max-height: 100px;
  object-fit: contain;
}

.prev-button1,
.next-button1 {
  display: none;
}

.imagesMob_partners {
  display: none;
}

/*other*/
.other {
  display: flex;
  flex-direction: column;
  height: 612px;
  background-color: #340738;
  align-items: center;
  text-align: center;
  padding-top: 70px;
}

.topBlock_other {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.topBlock_other span {
  font-size: 56px;
  font-weight: 400;
  color: white;
}

.downBlock_other {
  display: flex;
  flex-direction: row;
  grid-gap: 70px;
  margin-top: 40px;
}

.blockText1_other {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Text1_other {
  font-size: 32px;
  font-weight: 700;
  color: #F6A21E;
}

.Text2_other {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-top: 40px;
}

/*form*/
.form {
  display: grid;
  grid-template-columns: 54% 46%;
  background-color: #583E7A;
  height: 720px;
}

.leftBlock_form {
  flex-direction: column;
  display: grid;
  align-content: center;
  justify-content: end;
  padding-right: 50px;
}

.leftText1_form {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.leftText2_form {
  font-size: 100px;
  font-weight: 700;
  color: #F3BC28;
}

.leftText3_form {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.leftText4_form {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
}

.leftText4_form span {
  color: #F6A21E;
}

.leftText5_form {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
}

.rightBlock_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  box-shadow: -5px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.rightText_form {
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.form_form {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  width: 65%;
  margin-top: 30px;
}

.form_form label {
  font-size: 14px;
  height: 24px;
  font-weight: 400;
  color: white;
}

.first_name_form input,
.tel_form input,
.checkFull_form {
  outline: none;
  border-radius: 20px;
  border: 0;
  height: 35px;
}

.form_form textarea {
  outline: none;
  border-radius: 20px;
  border: 0;
  height: 75px;
  resize: none;
}

.first_name_form {
  display: flex;
  flex-direction: column;
}

.tel_form {
  display: flex;
  flex-direction: column;
}

.down_block_form {
  display: flex;
  flex-direction: column;
}

.checkFull_form {
  margin-top: 10px;
}

.check_form {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.check_form a {
  color: white;
}

.submit_form {
  margin-top: 35px;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  line-height: 70px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

.submit_form:hover {
  cursor: pointer;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: transparent;
  border-radius: .2em;
  -webkit-transition: all .275s;
  transition: all .275s;
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '✓';
  position: absolute;
  top: .525em;
  left: .18em;
  font-size: 1.375em;
  color: orange;
  line-height: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #56295A;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.topBlock_footer {
  grid-gap: 190px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding-top: 90px;
  justify-items: center;
}

.block1_footer,
.block2_footer,
.block3_footer {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.block1_t1_footer,
.block1_t5_footer,
.block2_t1_footer,
.block2_t3_footer,
.block2_t7_footer,
.block3_t1_footer,
.block3_t3_footer,
.block3_t5_footer {
  font-size: 18px;
  font-weight: 700;
  color: #F6A21E;
}

.block1_t2_footer,
.block1_t3_footer,
.block1_t4_footer {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.block1_t4_footer a {
  color: white;
}

.block1_t6_footer,
.block2_t2_footer,
.block2_t4_footer,
.block2_t5_footer,
.block3_t2_footer,
.block3_t4_footer {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.block2_t4_footer a,
.block2_t5_footer a {
  color: white;
  font-family: Yantramanav, serif;
}

.polygonSvg_footer {
  width: 12px;
  height: 8px;
  display: inline-block;
  background-image: url(../SVG/polygon.svg);
}

.block2_t4_footer:hover,
.block2_t5_footer:hover {
  cursor: pointer;
}

.block2_t6_footer,
.block2_t8_footer {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.block3_t6_footer {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.block3_t6_footer img {
  width: 80px;
  padding-top: 6px;
  object-fit: contain;
  max-height: 22px;
}

.block3_t6_footer a {
  border-radius: 8px;
  background-color: rgba(196, 196, 196, 0.3);
}

.block3_img1_footer,
.block3_img2_footer,
.block3_img3_footer {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.downBlock_footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.44px;
  color: #867388;
  text-align: center;
  padding-bottom: 30px;
}

.blockMob_footer {
  display: none;
}



/*FOR MOBILE*/
@media all and (max-width: 739px) {
  .header {
    height: 517px !important;
    background-color: rgba(40, 6, 44, 1) !important;
  }

  .hamburger {
    width: 30px !important;
    height: 60px !important;
    position: absolute;
    left: 20px;
  }

  .svg_hamburger {
    scale: 0.7;
  }

  .menu_header {
    background-image: none;
    height: 60px !important;
  }

  .mobile_header {
    margin-right: 0px !important;
    grid-gap: 9px !important;
    scale: 0.9;
  }

  .logo_header {
    background-image: url(../Images/LogoMob.png);
    background-repeat: no-repeat;
    scale: 1 !important;
    margin-top: 0 !important;
    margin-left: 38px !important;
    height: 50px;
    width: 130px !important;
    background-size: contain;
    background-position: top;
  }

  .logo_text_header {
    scale: 0.7;
    margin-top: -10px !important;
  }

  .langRu_header {
    display: none;
  }

  .slider_header {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .slider_header {
    margin-top: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .leftSlide_header {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 10px !important;
    background-color: rgba(52, 7, 56, 1) !important;
  }

  .text1Left_header,
  .text3Left_header {
    font-size: 30px !important;
  }

  .text2Left_header {
    font-size: 24px !important;
  }

  .text4Left_header {
    font-size: 16px !important;
    line-height: 30px !important;
  }

  .text5Left_header {
    height: 20px !important;
    padding-top: 20px !important;
    width: 165px !important;
    margin-top: 0 !important;
  }

  .rightSlide_header {
    align-items: center !important;
  }

  .ballRight_header {
    width: 130px !important;
    height: 130px !important;
  }

  .blockPhoto_header {
    margin-left: 0 !important;
    width: 200px;
  }

  .namePhoto1_header,
  .namePhoto2_header,
  .positionPhoto1_header,
  .positionPhoto2_header {
    font-size: 8px !important;
  }

  .textPhoto1_header {
    margin-left: 50px !important;
  }

  .textPhoto2_header {
    margin-left: 25px !important;
  }

  .photo3_header,
  .photo4_header {
    object-position: center bottom !important;
  }
}

@media all and (max-width: 768px) and (min-width: 600px) {
  .cases {
    height: 800px !important;
    padding-top: 80px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .topText1_cases {
    font-size: 32px !important;
  }

  .topText2_cases {
    font-size: 30px !important;
  }

  .topText3_cases {
    font-size: 18px !important;
  }

  .imagesBlock_cases {
    margin-top: 30px !important;
    grid-template-columns: 40fr 40fr 20fr !important;
  }

  .text1Right_cases,
  .text4Right_cases {
    font-size: 18px !important;
  }

  .text2Right_cases,
  .text3Right_cases,
  .text5Right_cases,
  .text6Right_cases {
    font-size: 40px !important;
  }

  .text7Right_cases {
    width: 150px !important;
    line-height: 40px !important;
    font-size: 14px !important;
  }

  .button_cases {
    width: 215px !important;
    line-height: 50px !important;
    margin-top: 35px !important;
    font-size: 14px !important;
  }
}

@media all and (max-width: 599px) {
  .cases {
    height: 100% !important;
    padding-top: 170px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 20px !important;
  }

  .topText1_cases {
    font-size: 28px !important;
  }

  .topText2_cases {
    font-size: 24px !important;
  }

  .topText3_cases {
    font-size: 16px !important;
  }

  .imagesBlock_cases {
    display: flex !important;
    flex-direction: column !important;
    grid-gap: 15px !important;
    margin-top: 25px !important;
  }

  .text1Right_cases,
  .text4Right_cases {
    font-size: 16px !important;
  }

  .text2Right_cases,
  .text5Right_cases {
    float: left;
  }

  .text2Right_cases,
  .text3Right_cases,
  .text5Right_cases,
  .text6Right_cases {
    font-size: 28px !important;
  }

  .text7Right_cases {
    display: inline-block !important;
    width: 200px !important;
    line-height: 40px !important;
    margin-top: 30px !important;
  }

  .button_cases {
    display: none !important;
  }

  .button_casesMob {
    display: inline-block !important;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 200px;
    line-height: 40px;
    margin-top: 18px;
    border-radius: 30px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(#F1CA2D, #F6A21E);
    margin-left: auto;
    margin-right: auto;
  }

  .fixTextRightBlock_cases {
    margin-top: 20px;
    text-align: center;
  }

  .cases_Mob {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media all and (max-width: 1600px) and (min-width: 740px) {
  .ballRight_header {
    width: 260px !important;
    height: 260px !important;
    background-size: contain;
  }

  .slider_header {
    margin-top: 30px !important;
    height: 100%;
  }
}

@media all and (max-width: 1600px) {
  .header {
    height: 470px !important;
    flex-direction: column;
    display: flex;
  }

  .text1Left_header,
  .text3Left_header {
    font-size: 36px !important;
  }

  .text2Left_header {
    font-size: 30px !important;
  }

  .text4Left_header {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .text5Left_header {
    font-size: 14px !important;
    text-decoration: none !important;
    height: 30px !important;
    padding-top: 30px !important;
    line-height: 0 !important;
    width: 220px !important;
    margin-top: 25px !important;
  }

  .blockPhoto_header {
    padding-top: 0 !important;
    margin-left: -151px !important;
  }

  .textPhoto1_header,
  .textPhoto2_header {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .photo1_header {
    width: 400px !important;
    height: 570px !important;
    margin-top: 134px !important;
    object-fit: contain !important;
  }

  .photo2_header {
    width: 500px !important;
    height: 537px !important;
    margin-top: 175px !important;
    object-fit: contain !important;
  }

  .leftSlide_header {
    height: 80% !important;
    padding-top: 0px !important;
  }

  .rightSlide_header {
    right: 0 !important;
  }

  .photoRight_header {
    display: none !important;
  }

  .photo3_header {
    display: flex !important;
    position: absolute;
    top: -10%;
    animation: fromtop 10s linear 5s infinite;
    margin-bottom: 10px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left bottom;
  }

  .photo4_header {
    display: flex !important;
    position: absolute;
    top: -10%;
    animation: fromtop 10s linear infinite;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left bottom;
  }

  .hamburger {
    display: flex !important;
    flex-direction: column;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
  }

  .svg_hamburger {
    background-image: url(../SVG/icon_burger.svg);
    background-position: center;
    width: 40px;
    height: 40px;
  }

  .menu_header {
    background-image: none;
    height: 84px;
  }

  .top_header {
    height: 80px;
    position: relative;
  }

  .logo_header {
    scale: 0.75;
    margin-top: -18px;
    margin-left: -55px;
    width: 335px;
    background-image: url(../Images/LogoMob.png);
    background-repeat: no-repeat;
    justify-content: center;
  }

  .logo_text_header {
    background-repeat: no-repeat;
    margin-left: 0;
    margin-top: 10px;
  }

  .phoneSvg_header {
    width: 40px;
    height: 40px;
    background-image: url(../SVG/icon_phone.svg);
  }

  .phoneSvg_header a {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .phoneSvg_header~a {
    display: none;
  }

  .emailSvg_header {
    width: 40px;
    height: 40px;
    background-image: url(../SVG/icon_email.svg);
  }

  .emailSvg_header a {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .emailSvg_header~a {
    display: none;
  }
}

@media all and (min-width: 1600px) {
  .phoneSvg_header {
    width: 20px;
    height: 20px;
    background-image: url(../SVG/phone_icon.svg);
  }

  .emailSvg_header {
    width: 20px;
    height: 14px;
    background-image: url(../SVG/mail_icon.svg);
  }
}

@media all and (max-width: 1600px) {
  .down_header {
    display: none;
  }
}

@media all and (min-width: 1600px) {
  .down_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    color: white;
    font-family: Raleway, serif;
    font-weight: 400;
    padding-top: 21px;
    margin-left: 50px;
    margin-right: 50px;
    grid-gap: 20px;
  }
}

@media all and (max-width: 699px) {
  .feedback {
    position: relative;
    height: 1130px !important;
    padding-top: 25px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .topFeedText1_feedback {
    font-size: 28px !important;
  }

  .topFeedText2_feedback {
    font-size: 24px !important;
  }

  .namesBlock_feedback {
    flex-direction: column !important;
    margin-top: 90px !important;
  }

  .namesBlock1_feedback,
  .namesBlock2_feedback,
  .namesBlock3_feedback,
  .namesBlock4_feedback {
    width: 100% !important;
  }

  .textBlock4_1_feedback,
  .textBlock4_2_feedback,
  .textBlock4_3_feedback,
  .textBlock4_4_feedback {
    height: 360px !important;
  }

  .prev-button,
  .next-button {
    display: block !important;
    position: absolute;
    transform: translateY(-50%);
    top: 140px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(243, 188, 40, 1);
    border: none;
    font-size: 40px;
    color: black;
  }

  .prev-button {
    right: 100px;
  }

  .next-button {
    right: 25px;
  }

  .downText_feedback {
    font-size: 20px !important;
  }

  .downText_feedback b {
    font-size: 16px !important;
  }

  .button_feedback {
    width: 230px !important;
    height: 50px !important;
    line-height: 50px !important;
    margin-top: 50px !important;
  }

  .price {
    height: 1260px !important;
    padding-top: 40px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .itemsBlock_price {
    flex-direction: column !important;
    align-items: center;
    height: 350px !important;
  }

  .itemBlock1_price,
  .itemBlock2_price,
  .itemBlock3_price {
    width: 100% !important;
  }

  .text1_price,
  .text2_price {
    font-size: 28px !important;
  }

  .itemText1_price {
    font-size: 16px !important;
    margin-top: 30px !important;
  }

  .itemText2_price {
    font-size: 12px !important;
    margin-top: 28px !important;
    margin-left: 26px !important;
  }

  .itemText3_price {
    margin-top: 25px !important;
    height: 62px !important;
    line-height: 60px !important;
  }

  .button_price {
    font-size: 14px !important;
    width: 155px !important;
    height: 50px !important;
    line-height: 50px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .text1Price_price {
    font-size: 20px !important;
  }

  .text1Price_price span {
    font-size: 20px !important;
  }


  .deadline {
    height: 330px !important;
  }

  .leftBlock_deadline {
    grid-gap: 15px;
  }

  .rightBlock_deadline {
    display: none !important;
  }

  .rightBlockMob_deadline {
    display: flex !important;
    justify-content: center;
  }

  .borderBlockMob_deadline {
    background-image: url(../Images/ball.png);
    width: 175px;
    height: 175px;
    border: 3px solid #F3BC28;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 175px;
    background-size: contain;
  }

  .borderBlockMob_deadline span,
  .leftText1_deadline,
  .leftText2_deadline {
    font-size: 24px !important;
  }

  .leftText3_deadline {
    font-size: 16px !important;
    padding-left: 10px;
  }

  .textMob_deadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 10px;
  }


  .team {
    height: 1390px !important;
    padding-top: 25px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .profileBlock_team {
    flex-direction: column !important;
    margin-top: 25px !important;
  }

  .downBlock1_team,
  .downBlock2_team,
  downBlock3_team {
    height: 50px !important;
  }

  .prof1_team,
  .prof2_team,
  .prof3_team {
    width: 100% !important;
  }

  .topText_team {
    font-size: 28px !important;
    text-align: left;
  }

  .name1_team,
  .downBlock1_team {
    font-size: 14px !important;
  }

  .vidLogo {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 25px !important;
    height: 660px !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .leftBlock_vidLogo,
  .rightBlock_vidLogo {
    width: 100% !important;
  }

  .rightBlock_vidLogo {
    margin-top: 20px !important;
  }

  .leftText1_vidLogo {
    font-size: 28px !important;
  }

  .leftText2_vidLogo {
    font-size: 24px !important;
  }

  .leftText3_vidLogo,
  .leftText4_vidLogo {
    font-size: 16px !important;
  }


  .partners {
    margin-top: -210px !important;
    height: 560px !important;
    background-size: cover;
    position: relative;
  }

  .imgTopBl_partners,
  .imgDownBl_partners {
    display: none !important;
  }

  .imagesMob_partners {
    display: block !important;
    height: 100px !important;
  }

  .imagesMob_partners img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }

  .imgBlock1_partners img {
    scale: 1 !important;
    object-fit: contain !important;
  }

  .imG {
    width: 140px !important;
    height: 140px !important;
  }

  .imG1 {
    width: 250px !important;
    height: 110px !important;
  }

  .textBlock1_partners,
  .textBlock2_partners {
    font-size: 28px !important;
  }

  .textBlock1_partners span {
    font-size: 20px !important;
  }

  .imgBlock1_partners {
    grid-gap: 30px !important;
    flex-direction: column !important;
    align-items: center;
  }

  .textBlock2_partners {
    margin-top: 85px !important;
  }

  .imgBlock2_partners {
    flex-direction: row !important;
    width: 170px !important;
    grid-gap: 0px !important;
    display: block !important;
    margin-top: 0px !important;
  }

  .prev-button1,
  .next-button1 {
    display: block !important;
    position: absolute;
    transform: translateY(-50%);
    bottom: -285px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(243, 188, 40, 1);
    border: none;
    font-size: 40px;
    color: black;
  }

  .prev-button1 {
    left: 12px;
  }

  .next-button1 {
    right: 18px;
  }


  .other {
    height: 390px !important;
    padding-top: 25px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: left;
    margin-top: 300px !important;
  }

  .topBlock_other {
    font-size: 28px !important;
    text-align: left;
  }

  .topBlock_other span {
    font-size: 24px !important;
  }

  .downBlock_other {
    display: flex;
    flex-direction: column !important;
    grid-gap: 10px !important;
    margin-top: 10px !important;
    text-align: left;
  }

  .blockText1_other {
    display: grid !important;
    grid-template-columns: 110px 1fr !important;
  }

  .Text1_other {
    font-size: 16px !important;
  }

  .Text2_other {
    font-size: 16px !important;
    margin-top: 0px !important;
  }

  .form {
    height: 540px !important;
    grid-template-columns: 1fr !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    grid-gap: 30px !important;
  }

  .leftBlock_form {
    padding-right: 0px !important;
    grid-gap: 10px !important;
    justify-content: normal !important;
  }

  .leftText1_form {
    font-size: 28px !important;
  }

  .leftText2_form {
    font-size: 36px !important;
  }

  .leftText3_form {
    font-size: 28px !important;
  }

  .leftText4_form {
    display: none !important;
  }

  .leftText5_form {
    display: none !important;
  }

  .rightBlock_form {
    box-shadow: none !important;
    padding-left: 0px !important;
  }

  .rightText_form {
    font-size: 20px !important;
  }

  .form_form {
    margin-top: 15px !important;
    grid-gap: 7px !important;
    width: 100% !important;
  }

  .form_form label {
    font-size: 8px !important;
    height: 15px !important;
  }

  .submit_form {
    margin-top: 15px !important;
    width: 175px !important;
    line-height: 30px !important;
    font-size: 14px !important;
  }



  .footer {
    height: 1045px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .topBlock_footer {
    display: flex !important;
    flex-direction: column !important;
    grid-gap: 30px !important;
    padding-top: 30px !important;
    text-align: center;
  }

  .block1_footer {
    grid-gap: 15px !important;
    order: 2;
    align-items: center;
  }

  .block2_footer {
    grid-gap: 15px !important;
    order: 1;
    align-items: center;
  }

  .block3_footer {
    grid-gap: 15px !important;
    order: 3;
    align-items: center;
  }

  .block1_t1_footer,
  .block1_t5_footer,
  .block2_t1_footer,
  .block2_t3_footer,
  .block2_t7_footer,
  .block3_t1_footer,
  .block3_t3_footer,
  .block3_t5_footer {
    font-size: 14px !important;
  }

  .block1_t6_footer,
  .block2_t2_footer,
  .block2_t4_footer,
  .block2_t5_footer,
  .block3_t2_footer,
  .block3_t4_footer {
    font-size: 14px !important;
  }

  .block3_t6_footer {
    display: none !important;
  }

  .blockMob_footer {
    display: flex !important;
    flex-direction: row;
    grid-gap: 10px;
  }

  .blockMob_footer img {
    width: 80px;
    height: 30px;
    padding-top: 6px;
    object-fit: contain;
    max-height: 22px;
  }

  .blockMob_footer a {
    border-radius: 8px;
    background-color: rgba(196, 196, 196, 0.3);
  }

  .blockMob_img1_footer,
  .blockMob_img2_footer {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
}

@media all and (max-width: 350px) {
  .team {
    height: 1000px !important;
  }

  .vidLogo {
    height: 530px !important;
  }
}

@media all and (max-width: 1400px) and (min-width: 700px) {

  .feedback {
    position: relative;
    height: 1100px !important;
    padding-top: 60px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .topFeedText1_feedback {
    font-size: 32px !important;
  }

  .topFeedText2_feedback {
    font-size: 30px !important;
  }

  .namesBlock_feedback {
    flex-direction: column !important;
  }

  .namesBlock1_feedback,
  .namesBlock2_feedback,
  .namesBlock3_feedback,
  .namesBlock4_feedback {
    width: 100% !important;
  }

  .textBlock4_1_feedback,
  .textBlock4_2_feedback,
  .textBlock4_3_feedback,
  .textBlock4_4_feedback {
    height: 360px !important;
  }

  .prev-button,
  .next-button {
    display: block !important;
    position: absolute;
    transform: translateY(-50%);
    top: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(243, 188, 40, 1);
    border: none;
    font-size: 40px;
    color: black;
  }

  .prev-button {
    right: 100px;
  }

  .next-button {
    right: 25px;
  }

  .price {
    height: 566px !important;
    padding-top: 50px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .itemsBlock_price {
    height: 350px !important;
  }

  .text1_price,
  .text2_price {
    font-size: 32px !important;
  }

  .itemText1_price {
    font-size: 16px !important;
    margin-top: 30px !important;
  }

  .itemText2_price {
    font-size: 12px !important;
    margin-top: 28px !important;
    margin-left: 26px !important;
  }

  .itemText3_price {
    margin-top: 25px !important;
    height: 62px !important;
    line-height: 60px !important;
  }

  .button_price {
    font-size: 14px !important;
    width: 155px !important;
    height: 50px !important;
    line-height: 50px !important;
    margin-top: 30px !important;
  }

  .text1Price_price {
    font-size: 20px !important;
  }

  .text1Price_price span {
    font-size: 20px !important;
  }

  .deadline {
    height: 302px !important;
  }

  .borderBlock_deadline {
    width: 235px !important;
    height: 235px !important;
    font-size: 23px !important;
    font-weight: 700 !important;
    line-height: 220px !important;
    background-size: contain;
  }

  .borderBlock_deadline span,
  .leftText1_deadline,
  .leftText2_deadline {
    font-size: 32px !important;
  }

  .leftText3_deadline {
    font-size: 16px !important;
  }

  .team {
    height: 520px !important;
    padding-top: 80px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .topText_team {
    font-size: 32px !important;
  }

  .name1_team,
  .downBlock1_team {
    font-size: 14px !important;
  }

  .vidLogo {
    padding-left: 15px !important;
    height: 370px !important;
  }

  .leftText1_vidLogo {
    font-size: 32px !important;
  }

  .leftText2_vidLogo {
    font-size: 24px !important;
  }

  .leftText3_vidLogo,
  .leftText4_vidLogo {
    font-size: 16px !important;
  }


  .partners {
    margin-top: -210px !important;
    height: 560px !important;
    background-size: cover;
    position: relative;
  }

  .imgTopBl_partners,
  .imgDownBl_partners {
    display: none !important;
  }

  .imagesMob_partners {
    display: block !important;
    height: 100px !important;
  }

  .imagesMob_partners img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }

  .textBlock1_partners,
  .textBlock1_partners span,
  .textBlock2_partners {
    font-size: 32px !important;
  }

  .imgBlock1_partners {
    grid-gap: 30px !important;
  }

  .textBlock2_partners {
    margin-top: 85px !important;
  }

  .imgBlock2_partners {
    flex-direction: row !important;
    width: 400px !important;
    grid-gap: 0px !important;
    display: block !important;
    margin-top: 0px !important;
  }

  .prev-button1,
  .next-button1 {
    display: block !important;
    position: absolute;
    transform: translateY(-50%);
    bottom: -130px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(243, 188, 40, 1);
    border: none;
    font-size: 40px;
    color: black;
  }

  .prev-button1 {
    left: 90px;
  }

  .next-button1 {
    right: 96px;
  }

  .other {
    height: 350px !important;
    padding-top: 25px !important;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 190px !important;
  }

  .topBlock_other {
    font-size: 32px !important;
  }

  .topBlock_other span {
    font-size: 30px !important;
  }

  .downBlock_other {
    display: flex;
    flex-direction: row;
    grid-gap: 70px;
    margin-top: 40px;
  }

  .Text1_other {
    font-size: 20px !important;
  }

  .Text2_other {
    font-size: 16px !important;
    margin-top: 40px;
  }

  .form {
    height: 470px !important;
  }

  .leftBlock_form {
    padding-right: 10px !important;
  }

  .leftText1_form {
    font-size: 24px !important;
  }

  .leftText2_form {
    font-size: 50px !important;
  }

  .leftText3_form {
    font-size: 32px !important;
  }

  .leftText4_form {
    font-size: 16px !important;
  }

  .leftText5_form {
    font-size: 16px !important;
  }

  .rightText_form {
    font-size: 20px !important;
  }

  .form_form {
    margin-top: 15px !important;
    grid-gap: 7px !important;
    width: 85% !important;
  }

  .form_form label {
    font-size: 8px !important;
    height: 15px !important;
  }

  .submit_form {
    margin-top: 25px !important;
    width: 175px !important;
    line-height: 40px !important;
    font-size: 14px !important;
  }

  .footer {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }

  .topBlock_footer {
    grid-gap: 10px !important;
    padding-top: 70px !important;
  }

  .block1_t1_footer,
  .block1_t5_footer,
  .block2_t1_footer,
  .block2_t3_footer,
  .block2_t7_footer,
  .block3_t1_footer,
  .block3_t3_footer,
  .block3_t5_footer {
    font-size: 16px !important;
  }

  .block1_t6_footer,
  .block2_t2_footer,
  .block2_t4_footer,
  .block2_t5_footer,
  .block3_t2_footer,
  .block3_t4_footer {
    font-size: 14px !important;
  }

  .block3_t6_footer {
    display: none !important;
  }

  .blockMob_footer {
    display: flex !important;
    flex-direction: row;
    grid-gap: 10px;
  }

  .blockMob_footer img {
    width: 80px;
    height: 30px;
    padding-top: 6px;
    object-fit: contain;
    max-height: 22px;
  }

  .blockMob_footer a {
    border-radius: 8px;
    background-color: rgba(196, 196, 196, 0.3);
  }

  .blockMob_img1_footer,
  .blockMob_img2_footer {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
}