@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: Raleway, serif;
}

a:hover {
  cursor: pointer;
}

:root {
  --size-mp: calc(1vw + 1vh);
}

/*header*/
.header {
  background-color: #340738;
  height: 894px;
}

.top_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu_header {
  display: flex;
  flex-direction: column;
  background: center center no-repeat #4D3F75;
  background-image: url(../SVG/line_menu.svg);
  background-size: 70% 100%;
  border-radius: 0 0 50px 50px;
  width: 100%;
  height: 140px;
  position: relative;
  z-index: 11;
}

.logo_header {
  display: flex;
  width: 406px;
  height: 80px;
  margin-top: -7px;
  background-image: url(../SVG/logoBack.svg);
}

.logo_text_header {
  width: 145px;
  height: 46px;
  background-image: url(../SVG/logoText.svg);
  background-repeat: no-repeat;
  margin-left: 146px;
  margin-top: 10px;
}

.logo_a_header {
  display: inline-block;
  width: 145px;
  height: 46px;
}

.mobile_header {
  display: flex;
  flex-direction: row;
  margin-right: 180px;
  align-items: center;
  grid-gap: 30px;
}

.mobile_header a {
  text-decoration: none;
  color: white;
  font-family: Yantramanav, serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.lang_header {
  font-family: Raleway, serif;
  font-weight: 400;
  color: white;
}

.phone_header,
.email_header,
.lang_header {
  display: flex;
  flex-direction: row;
  grid-gap: 12px;
  align-items: center;
}

.phoneSvg_header {
  width: 20px;
  height: 20px;
  background-image: url(../SVG/phone_icon.svg);
}

.emailSvg_header {
  width: 20px;
  height: 14px;
  background-image: url(../SVG/mail_icon.svg);
}

.ruFlagSvg_header {
  width: 28px;
  height: 30px;
  background-image: url(../SVG/ru_flag.svg);
}

.polygonSvg_header {
  width: 12px;
  height: 8px;
  background-image: url(../SVG/polygon.svg);
}

.down_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  color: white;
  font-family: Raleway, serif;
  font-weight: 400;
  padding-top: 21px;
  margin-left: 50px;
  margin-right: 50px;
  grid-gap: 20px;
}

.down_header a {
  text-decoration: none;
  color: white;
}

.textBold_header:hover {
  font-weight: bold;
}

.block1_header {
  width: 95px;
  text-decoration: underline;
  height: 20px;
}

.block5_header {
  width: 155px;
  height: 20px;
  min-width: 124px;
}

.block7_header {
  width: 255px;
  height: 20px;
  min-width: 124px;
}

.block8_header {
  width: 95px;
  height: 20px;
  text-decoration: underline;
}

.polygonSvg1_header {
  width: 12px;
  height: 8px;
  margin-top: 5px;
  background-image: url(../SVG/polygon.svg);
}

.polygonSvg2_header {
  width: 15px;
  display: inline-block;
  height: 9px;
  transform: rotate(270deg);
  background-image: url(../SVG/polygon.svg);
}

/*block2_header*/
.block2_header {
  display: grid;
  grid-template-columns: 215px 14px;
  height: 40px;
}

.block2_header:hover .showContentInBlock2_header {
  display: flex;
  flex-direction: column;
}

.block2_header:hover .textBold_header {
  font-weight: bold;
  cursor: pointer;
}

.leftInBlock2_header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px;
  align-items: center;
}

.showContentInBlock2_header {
  display: none;
  width: 210px;
  margin-top: 26px;
  background-color: #4D3F75;
  border-image-source: url(../Images/border-sub-menu-resersLeft.png);
  border-image-slice: 30 30 28 6;
  border-image-width: 31px 80px 21px 5px;
  border-radius: 0 0 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-gap: 20px;
  font-size: 14px;
  padding-bottom: 25px;

}

/*block3_header*/
.block3_header {
  display: grid;
  grid-template-columns: 175px 14px;
  height: 40px;
}

.block3_header:hover .showContentInBlock3_header {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}

.block3_header:hover .textBold_header {
  font-weight: bold;
  cursor: pointer;
}

.showContentInBlock3_header {
  display: none;
  width: 220px;
  margin-top: 26px;
  background-color: #4D3F75;
  border-image-source: url(../Images/border-sub-menu-resersLeft.png);
  border-image-slice: 30 30 28 6;
  border-image-width: 31px 80px 21px 5px;
  border-radius: 0 0 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-gap: 30px;
  padding-bottom: 20px;
  font-size: 14px;
}

.showBlock1_block3_header {
  height: 18px;
}

.showBlock1_block3_header:hover .showFullBlock1_block3_header {
  display: grid;
  grid-template-columns: 213px;
  grid-template-rows: 55px;
  align-items: center;
  margin-left: 91px;
  margin-top: -43px;
  background-color: #4D3F75;
  width: 360px;
  border-radius: 0 30px 30px 0;
  padding-left: 30px;
  padding-bottom: 7px;
  justify-content: end;
}

.showFullBlock1_block3_header {
  display: none;
}

/*block4_header*/
.block4_header {
  display: grid;
  grid-template-columns: 140px 14px;
  height: 40px;
}

.block4_header:hover .showContentInBlock4_header {
  display: grid;
  grid-template-columns: 50% 50% 300px;
  margin-left: -20px;
}

.block4_header:hover .textBold_header {
  font-weight: bold;
  cursor: pointer;
}

.showContentInBlock4_header {
  display: none;
  width: 500px;
  margin-top: 26px;
  background-color: #4D3F75;
  border-image-source: url(../Images/border-sub-menu-resersLeft.png);
  border-image-slice: 30 30 28 6;
  border-image-width: 8px 310px 23px 4px;
  border-radius: 0 0 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-gap: 30px;
  padding-bottom: 20px;
  font-size: 14px;
}

.leftInBlock4_header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  align-items: center;
}

.rightInBlock4_header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  align-items: center;
}

.showBlock1_block4_header {
  height: 18px;
}

.showBlock1_block4_header:hover .showFullBlock1_block4_header {
  display: grid;
  grid-template-columns: 245px;
  grid-template-rows: 40px 40px 40px 40px;
  align-items: center;
  margin-left: 255px;
  margin-top: -27px;
  background-color: #4D3F75;
  border-radius: 0 30px 30px 0;
  padding-left: 30px;
  padding-bottom: 7px;
  justify-content: end;
  position: relative;
  z-index: 1;
}

.showFullBlock1_block4_header {
  display: none;
}

/*block6_header*/
.block6_header {
  display: grid;
  grid-template-columns: 160px 14px;
  height: 40px;
}

.block6_header:hover .showContentInBlock6_header {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}

.block6_header:hover .textBold_header {
  font-weight: bold;
  cursor: pointer;
}

.leftInBlock6_header {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
  align-items: center;
}

.rightInBlock6_header {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
  align-items: center;
}

.showContentInBlock6_header {
  display: none;
  width: 490px;
  margin-top: 26px;
  z-index: 1;
  background-color: #4D3F75;
  border-image-source: url(../Images/border-sub-menu-resers.png);
  border-image-slice: 2 30 30 2;
  border-image-width: 40px 25px 25px 110px;
  border-radius: 0 30px 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-gap: 30px;
  font-size: 14px;
}

.showBlock1_block6_header {
  height: 18px;
}

.showBlock1_block6_header:hover .showFullBlock1_block6_header {
  display: grid;
  grid-template-columns: 256px;
  grid-template-rows: 40px 40px 50px 50px;
  align-items: center;
  margin-left: -340px;
  margin-top: -28px;
  background-color: #4D3F75;
  border-radius: 30px 0 0 30px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.showFullBlock1_block6_header {
  display: none;
}

.showBlock2_block6_header {
  height: 18px;
}

.showBlock2_block6_header:hover .showFullBlock2_block6_header {
  display: grid;
  grid-template-columns: 256px;
  grid-template-rows: 40px 30px 40px;
  align-items: center;
  margin-left: -310px;
  margin-top: -28px;
  background-color: #4D3F75;
  border-radius: 30px 0 0 30px;
  padding-left: 30px;
}

.showFullBlock2_block6_header {
  display: none;
}


/*slider*/
.slider_header {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
}

.leftSlide_header {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 40px;
  height: 558px;
}

.text1Left_header,
.text3Left_header {
  font-size: 100px;
  font-weight: 700;
  color: white
}

.text2Left_header {
  font-size: 80px;
  font-weight: 700;
  color: #F3BC28;
}

.text4Left_header {
  font-size: 40px;
  font-weight: 400;
  color: #F1CA2D;
  line-height: 60px;
}

.text5Left_header {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  line-height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

.rightSlide_header {
  display: flex;
  flex-direction: column;
}

.ballRight_header {
  background-image: url(../Images/ball.png);
  width: 496px;
  height: 495px;
  border: 3px solid #F3BC28;
  border-radius: 50%;
}

.blockPhoto_header {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  height: 60px;
  padding-top: 49px;
  margin-left: -55px;
}

.textPhoto1_header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  position: absolute;
  top: 0;
  animation: fromtop 10s linear 5s infinite;
  margin-bottom: 10px;
  z-index: -1;
}

.namePhoto1_header {
  font-size: 20px;
  font-weight: 400;
  color: #F1CA2D;
}

.positionPhoto1_header {
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  color: white;
}

.textPhoto2_header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  position: absolute;
  top: 0;
  animation: fromtop 10s linear infinite;
  margin-bottom: 10px;
}

.namePhoto2_header {
  font-size: 20px;
  font-weight: 400;
  color: #F1CA2D;
}

.positionPhoto2_header {
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  color: white;
}

.photoRight_header {
  position: relative;
  height: 701px;
  margin-top: -632px;
  width: 410px;
  margin-left: 60px;
}

.photo1_header {
  position: absolute;
  top: -10%;
  animation: fromtop 10s linear 5s infinite;
  margin-bottom: 10px;
  z-index: -1;
}

.photo2_header {
  position: absolute;
  top: -10%;
  animation: fromtop 10s linear infinite;
  margin-bottom: 10px;
}

@keyframes fromtop {
  0% {
    top: 0;
    opacity: 0;
    z-index: 1;
  }

  10% {
    top: 0;
    opacity: 1;
  }

  49.99999% {
    top: 0;
    z-index: 1;
  }

  50% {
    top: 0;
    z-index: -1;
  }

  100% {
    top: 0;
    z-index: -1;
  }
}

/*Cases*/
.cases {
  display: flex;
  flex-direction: column;
  height: 1726px;
  background-color: #28062C;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

.cases img {
  width: 100%;
  height: 100%;
}

.topTextBlock_cases {
  display: flex;
  flex-direction: column;
}

.topText1_cases {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.topText2_cases {
  font-size: 56px;
  font-weight: 400;
  color: white;
}

.topText3_cases {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.imagesBlock_cases {
  display: grid;
  grid-template-columns: 50fr 32fr 18fr;
  grid-gap: 30px;
  margin-top: 70px;
}

.leftBlock_cases {
  display: flex;
  grid-gap: 30px;
  flex-direction: column;
}

.topLeftBlock_cases {
  display: grid;
  grid-template-columns: 66% 34%;
}

.imgRight1Block_cases {
  display: grid;
  grid-gap: 30px;
  margin-left: 30px;
}

.downLeftBlock_cases {
  display: grid;
  grid-template-columns: 31% 69%;
}

.imgLeft2Block_cases {
  display: grid;
  grid-gap: 30px;
}

.imgRight2Block_cases {
  margin-left: 30px;
}

.rightBlock_cases {
  display: grid;
  grid-gap: 30px;
}

.rightImgBlock1_cases {
  display: grid;
  grid-template-columns: 50% 50%;
}

.rightImgBlock2_cases {
  display: grid;
}

.rightImgBlock3_cases {
  display: grid;
  grid-template-columns: 50% 50%;
}

.imgRightR1_cases,
.imgRight3_cases {
  margin-right: 15px;
}

.imgRightR2_cases,
.imgRight4_cases {
  margin-left: 15px;
}

.fixTextRightBlock_cases {
  position: sticky;
  top: 0;
}

.text1Right_cases,
.text4Right_cases {
  font-size: 30px;
  color: white;
  font-weight: 400;
}

.text2Right_cases,
.text5Right_cases {
  color: #F3BC28;
  font-size: 68px;
  font-weight: 700;
}

.text3Right_cases,
.text6Right_cases {
  font-size: 68px;
  color: white;
  font-weight: 700;
}

.text7Right_cases {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  line-height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

.button_cases {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  line-height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
  margin-left: auto;
  margin-right: auto;
}

/*feedback*/
.feedback {
  background-color: #340738;
  height: 1180px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

.topFeed_feedback {
  display: flex;
  flex-direction: column;
}

.topFeedText1_feedback {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.topFeedText2_feedback {
  font-size: 56px;
  font-weight: 400;
  color: white;
}

.namesBlock_feedback {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  grid-gap: 25px;
}

.namesBlock1_feedback,
.namesBlock2_feedback,
.namesBlock3_feedback,
.namesBlock4_feedback {
  width: 25%;
}

.textBlock1_1_feedback,
.textBlock1_2_feedback,
.textBlock1_3_feedback,
.textBlock1_4_feedback {
  display: flex;
  flex-direction: row;
}

.borderLogoName1_feedback,
.borderLogoName2_feedback,
.borderLogoName3_feedback,
.borderLogoName4_feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #583E7A
}

.logoName1_feedback,
.logoName2_feedback,
.logoName3_feedback,
.logoName4_feedback {
  width: 90px;
  height: 90px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.name1_feedback,
.name2_feedback,
.name3_feedback,
.name4_feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.nameTop1_feedback,
.nameTop2_feedback,
.nameTop3_feedback,
.nameTop4_feedback {
  font-size: 16px;
  font-weight: 700;
  color: #F3BC28;
}

.nameDown1_feedback,
.nameDown2_feedback,
.nameDown3_feedback,
.nameDown4_feedback {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.textBlock2_1_feedback,
.textBlock2_2_feedback,
.textBlock2_3_feedback,
.textBlock2_4_feedback {
  margin-left: 30px;
}

.triangle1_feedback,
.triangle2_feedback,
.triangle3_feedback,
.triangle4_feedback {
  border: 15px solid transparent;
  border-bottom: 20px solid #583E7A;
  width: 0;
}

.textBlock3_1_feedback,
.textBlock3_2_feedback,
.textBlock3_3_feedback,
.textBlock3_4_feedback {
  display: flex;
  background-color: #583E7A;
  border-radius: 20px;
  height: 120px;
  align-items: center;
  margin-top: -2px;
}

.fullText1_feedback,
.fullText2_feedback,
.fullText3_feedback,
.fullText4_feedback {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-left: 40px;
  padding-right: 41px;
}

.textBlock4_1_feedback,
.textBlock4_2_feedback,
.textBlock4_3_feedback,
.textBlock4_4_feedback {
  height: 260px;
  margin-top: 25px;
}

.downText_feedback {
  margin-top: 30px;
  max-width: 761px;
  font-size: 24px;
  font-weight: 400;
  color: white
}

.downText_feedback b {
  font-size: 32px;
  font-weight: 700;
  color: #F6A21E;
}

.button_feedback {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  height: 70px;
  line-height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

/*price*/
.price {
  display: flex;
  flex-direction: column;
  height: 1061px;
  background-color: #583E7A;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

.textBlock_price {
  display: flex;
  flex-direction: column;
  border-left: 5px solid #F3BC28;
}

.text1_price {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
  margin-left: 30px;
}

.text2_price {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  margin-left: 30px;
}

.itemsBlock_price {
  display: flex;
  flex-direction: row;
  grid-gap: 30px;
  margin-top: 40px;
  height: 580px;
}

.itemBlock1_price,
.itemBlock2_price,
.itemBlock3_price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  border: 3px solid #F3BC28;
  background-color: white;
}

.itemText1_price {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.itemText2_price {
  font-size: 24px;
  font-weight: 400;
  margin-top: 60px;
  margin-left: 60px;
}

.textItem2_1_price {
  margin-top: 20px;
}

.itemText3_price {
  width: 100%;
  border: 3px solid #F3BC28;
  border-left: 0;
  border-right: 0;
  background-color: #340738;
  text-align: center;
  margin-top: 60px;
  height: 110px;
  line-height: 105px;
}

.text1Price_price {
  font-size: 36px;
  font-weight: 700;
  color: #F3BC28;
}

.text1Price_price span {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.button_price {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  height: 70px;
  line-height: 70px;
  margin-top: 30px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}

/*deadline*/
.deadline {
  display: flex;
  flex-direction: row;
  height: 618px;
  background-color: #340738;
  justify-content: center;
  grid-gap: 50px;
  align-items: center;
}

.leftBlock_deadline {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.leftText1_deadline,
.leftText2_deadline {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.leftText3_deadline {
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.borderBlock_deadline {
  background-image: url(../Images/ball.png);
  width: 496px;
  height: 495px;
  border: 3px solid #F3BC28;
  border-radius: 50%;
  font-size: 46px;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 475px;
}

.borderBlock_deadline span {
  font-size: 64px;
  font-weight: 700;
}

/*team*/
.team {
  display: flex;
  flex-direction: column;
  height: 866px;
  background-color: #5B1362;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
}

.team img {
  width: 100%;
  max-height: 360px;
  object-fit: contain;
}

.topText_team {
  max-width: 1172px;
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.profileBlock_team {
  display: flex;
  flex-direction: row;
  grid-gap: 30px;
  width: 100%;
  margin-top: 40px;
}

.prof1_team,
.prof2_team,
.prof3_team {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.33%;
  border: 3px solid #F3BC28;
}

.photo1_team,
.photo2_team,
.photo3_team {
  display: flex;
  align-items: flex-end;
}

.topBlock1_team {
  display: grid;
  position: relative;
  grid-template-columns: 40% 60%;
  height: 100%;
  background-color: #583E7A;
}

.name1_team {
  display: grid;
  align-items: end;
  margin-bottom: 60px;
  font-size: calc(var(--size-mp) * 1.4);
  font-weight: 700;
  color: white;
}

.downBlock1_team {
  display: grid;
  align-items: center;
  height: calc(var(--size-mp) * 4.3);
  border-top: 3px solid #F3BC28;
  ;
  background-color: #340738;
  font-size: calc(var(--size-mp) * 1.4);
  font-weight: 700;
  color: #F3BC28;
}

/*vidLogo*/
.vidLogo {
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  height: calc(var(--size-mp) * 29);
  background-color: #583E7A;
  position: relative;
  z-index: 1;
}

.leftBlock_vidLogo {
  grid-gap: 30px;
  width: 50%;
  display: grid;
  align-content: center;
}

.leftText1_vidLogo {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.leftText2_vidLogo {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.leftText3_vidLogo {
  font-size: 32px;
  font-weight: 700;
  color: #F3BC28;
}

.leftText4_vidLogo {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-top: -20px;
}

.rightBlock_vidLogo {
  width: 50%;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/*partners*/
.partners {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -140px;
  height: 1300px;
  background-image: url(../SVG/Vector_purple_dark.svg);
  background-repeat: no-repeat;
  align-items: center;
}

.textBlock1_partners {
  padding-top: 220px;
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.textBlock1_partners span {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.imgBlock1_partners {
  display: flex;
  flex-direction: row;
  grid-gap: 125px;
  margin-top: 30px;
}

.imgBlock1_partners img {
  height: 100%;
  object-fit: none;
  width: 100%;
  scale: 0.9;
}

.textBlock2_partners {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
  margin-top: 270px;
}

.imgBlock2_partners {
  display: flex;
  flex-direction: column;
  grid-gap: 80px;
  margin-top: 50px;
}

.imgTopBl_partners,
.imgDownBl_partners {
  display: flex;
  flex-direction: row;
  grid-gap: 80px;
}

.imgTopBl_partners img,
.imgDownBl_partners img {
  width: 20%;
  max-height: 100px;
  object-fit: contain;
}

/*other*/
.other {
  display: flex;
  flex-direction: column;
  height: 612px;
  background-color: #340738;
  align-items: center;
  text-align: center;
  padding-top: 70px;
}

.topBlock_other {
  font-size: 70px;
  font-weight: 700;
  color: #F3BC28;
}

.topBlock_other span {
  font-size: 56px;
  font-weight: 400;
  color: white;
}

.downBlock_other {
  display: flex;
  flex-direction: row;
  grid-gap: 70px;
  margin-top: 40px;
}

.blockText1_other {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Text1_other {
  font-size: 32px;
  font-weight: 700;
  color: #F6A21E;
}

.Text2_other {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-top: 40px;
}

/*form*/
.form {
  display: grid;
  grid-template-columns: 54% 46%;
  background-color: #583E7A;
  height: 720px;
}

.leftBlock_form {
  flex-direction: column;
  display: grid;
  align-content: center;
  justify-content: end;
  padding-right: 50px;
}

.leftText1_form {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.leftText2_form {
  font-size: 100px;
  font-weight: 700;
  color: #F3BC28;
}

.leftText3_form {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.leftText4_form {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
}

.leftText4_form span {
  color: #F6A21E;
}

.leftText5_form {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
}

.rightBlock_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  box-shadow: -5px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.rightText_form {
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.form_form {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  width: 65%;
  margin-top: 30px;
}

.form_form label {
  font-size: 14px;
  height: 24px;
  font-weight: 400;
  color: white;
}

.first_name_form input,
.tel_form input,
.checkFull_form {
  outline: none;
  border-radius: 20px;
  border: 0;
  height: 35px;
}

.form_form textarea {
  outline: none;
  border-radius: 20px;
  border: 0;
  height: 75px;
  resize: none;
}

.first_name_form {
  display: flex;
  flex-direction: column;
}

.tel_form {
  display: flex;
  flex-direction: column;
}

.down_block_form {
  display: flex;
  flex-direction: column;
}

.checkFull_form {
  margin-top: 10px;
}

.check_form {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.check_form a {
  color: white;
}

.submit_form {
  margin-top: 35px;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 305px;
  line-height: 70px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#F1CA2D, #F6A21E);
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: transparent;
  border-radius: .2em;
  -webkit-transition: all .275s;
  transition: all .275s;
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '✓';
  position: absolute;
  top: .525em;
  left: .18em;
  font-size: 1.375em;
  color: orange;
  line-height: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #56295A;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.topBlock_footer {
  grid-gap: 190px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding-top: 90px;
  justify-items: center;
}

.block1_footer,
.block2_footer,
.block3_footer {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.block1_t1_footer,
.block1_t5_footer,
.block2_t1_footer,
.block2_t3_footer,
.block2_t7_footer,
.block3_t1_footer,
.block3_t3_footer,
.block3_t5_footer {
  font-size: 18px;
  font-weight: 700;
  color: #F6A21E;
}

.block1_t2_footer,
.block1_t3_footer,
.block1_t4_footer {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.block1_t4_footer a {
  color: white;
}

.block1_t6_footer,
.block2_t2_footer,
.block2_t4_footer,
.block2_t5_footer,
.block3_t2_footer,
.block3_t4_footer {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.block2_t4_footer a,
.block2_t5_footer a {
  color: white;
  font-family: Yantramanav, serif;
}

.polygonSvg_footer {
  width: 12px;
  height: 8px;
  display: inline-block;
  background-image: url(../SVG/polygon.svg);
}

.block2_t4_footer:hover,
.block2_t5_footer:hover {
  cursor: pointer;
}

.block2_t6_footer,
.block2_t8_footer {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.block3_t6_footer {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.block3_t6_footer img {
  width: 80px;
  padding-top: 6px;
  object-fit: contain;
  max-height: 22px;
}

.block3_t6_footer a {
  border-radius: 8px;
  background-color: rgba(196, 196, 196, 0.3);
}

.block3_img1_footer,
.block3_img2_footer,
.block3_img3_footer {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.downBlock_footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.44px;
  color: #867388;
  text-align: center;
  padding-bottom: 30px;
}